<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div id="about-content">
            <p>This site was created by Subhojit Debnath. </p>
            <p>It uses data from positionstack.com and weatherstack.com!</p>
        </div>
        <img class="portrait" src="/assets/141.jpg">
    </div>
    {{>footer}}
</body>

</html>